@import url("./font.css");
* {
    margin: 0px;
    padding: 0px;
    color: rgb(242, 245, 247);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    font-family: changa;
    background: rgb(10, 9, 9);
}

body::-webkit-scrollbar {
    width: 14px;
    height: 40px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(12, 13, 14);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(38, 99, 209);
    border: 3px solid rgb(27, 33, 55);
    border-radius: 10px;
}

h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0rem;
    font-size: 3.6rem;
}

h2::after {
    content: "";
    display: block;
    width: 20rem;
    height: 0.2rem;
    background: rgb(38, 99, 209);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

h3 {
    color: rgb(255, 255, 255);
}

.global_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.9rem;
    height: 3.8rem;
    font-weight: 200;
    border: 1px solid transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 3rem;
    margin: 0px;
    animation: 30s linear 0s infinite normal none running gradient;
    background: rgb(0, 0, 0);
}

.global_btn:hover {
    background: linear-gradient(to right, cornflowerblue, aqua, deeppink, cornflowerblue) 0% 0% / 600% 600%;
    font-weight: 400;
    filter: drop-shadow(cornflowerblue 0px 0px 30px);
    animation: 20s linear 0s infinite normal none running gradient;
}

.global_btn::before {
    background-color: transparent !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 600% 50%;
    }
}

.cydog_apps_img {
    width: 40rem;
}

.waves {
    position: absolute;
    width: 100%;
    height: 12rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container .banner_btn_download {
    width: 35rem;
    height: 6rem;
    position: relative;
    border: none;
    outline: none;
    margin: 3rem 3rem 0px 0px;
}

.buttons-container a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.buttons-container .banner_btn_download:hover {
    background-color: transparent !important;
}

.buttons-container .banner_btn_download {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}

.buttons-container .banner_btn_download .fa-download {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
}

nav {
    position: fixed;
    height: 8rem;
    width: 100vw;
    background-color: rgba(25, 25, 28, 0.78);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
    display: flex;
    z-index: 10;
    transition: all 0.2s ease 0s;
}

.nav_bg_adder {
    background-color: rgb(38, 99, 209);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
}

nav .logo_link {
    text-decoration: none;
}

.logo {
    padding: 1vh 1vw;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 5rem;
    width: 5rem;
    margin-top: 1.3rem;
}

.logo .logo_text {
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    width: 14rem;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0px 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    margin-top: 1.2rem;
}

.nav-links li a {
    text-decoration: none;
    margin: 0px 0.7vw;
    color: rgb(237, 237, 237);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.nav-links li {
    position: relative;
    margin-left: 1rem;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 0.3rem;
    width: 0%;
    background-color: rgb(39, 70, 235);
    position: absolute;
    margin: -4px 0px 0px 10%;
    transition: all 250ms ease-in-out 0s;
}

.nav-links li a:hover::before {
    width: 80%;
}

.nav-links li.download_item a::before {
    background-color: transparent;
}

.hamburger div {
    width: 3rem;
    height: 0.3rem;
    background: rgb(242, 245, 247);
    margin: 0.5rem;
    transition: all 0.3s ease 0s;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        z-index: 2;
        transform: translate(-5%, -50%);
        transition: all 0.7s ease 0s;
    }
    .nav-links {
        position: fixed;
        top: -2rem;
        background: rgb(19, 20, 24);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -10%);
        pointer-events: none;
        justify-content: center;
        transition: all 1s ease-out 0s;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
        margin-left: 0px !important;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        margin: 0px;
        transition: all 0.5s ease 0.9s;
    }
    .nav-links li:nth-child(7) {
        margin: 0px;
        transition: all 0.5s ease 1s;
    }
    .nav-links li a {
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 0px;
        color: rgb(242, 245, 247) !important;
    }
    li.fade {
        opacity: 1 !important;
    }
    .nav-links li .buttons-container .global_btn {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        margin: 1rem 0px !important;
        text-align: center !important;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    width: 0px;
    transition: all 0.7s ease 0s;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 300px) {
    .logo .logo_text {
        font-size: 1.2rem;
    }
    .hamburger div {
        width: 2rem;
        height: 0.1rem;
    }
}

#cydog_banner_area {
    background: linear-gradient(116deg, rgb(38, 99, 209), rgb(38, 99, 209), rgb(38, 99, 209));
    padding: 24rem 0px 6rem;
    position: relative;
}

#cydog_banner_area h1 {
    text-transform: capitalize;
    font-size: 5rem;
    font-weight: 600;
}

#cydog_banner_area .short_info {
    font-size: 2.3rem;
    font-weight: 500;
}

#cydog_banner_area .cydog_dhasboard,
#cydog_banner_area .cydog_search_bar {
    margin-top: 7rem;
}

#cydog_banner_area .waves_ {
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: -12rem;
}

@media screen and (max-width: 768px) {
    #cydog_banner_area {
        padding-top: 16rem;
    }
    #cydog_banner_area h1 {
        font-size: 4rem;
    }
    #cydog_banner_area .cydog_dhasboard,
    #cydog_banner_area .cydog_search_bar {
        width: 23rem;
        margin-top: 7rem;
    }
    #cydog_banner_area .waves_ {
        bottom: -11.8rem;
    }
}

@media screen and (max-width: 576px) {
    #cydog_banner_area h1 {
        font-size: 3rem;
    }
    #cydog_banner_area .short_info {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    #cydog_banner_area .cydog_dhasboard,
    #cydog_banner_area .cydog_search_bar {
        width: 20rem;
    }
}

@media screen and (max-width: 300px) {
    #cydog_banner_area .cydog_dhasboard,
    #cydog_banner_area .cydog_search_bar {
        width: 10rem;
    }
}

#why_cydog_browser {
    padding: 12rem 0px 5rem;
    background: rgb(0, 0, 0);
    position: relative;
}

#why_cydog_browser .slider_top_waves {
    top: 0px;
}

#why_cydog_browser h2 {
    margin-bottom: 3rem;
}

.slick-next {
    right: -1rem;
    display: none !important;
}

.slick-prev {
    left: -2rem;
    display: none !important;
}

.slick-prev::before,
.slick-next::before {
    font-size: 3.2rem !important;
}

.slick-dots li button::before {
    font-size: 1.4rem !important;
}

#why_cydog_browser .card {
    background-color: rgb(151, 185, 222);
    background-image: linear-gradient(145deg, rgb(27, 33, 55), rgb(38, 99, 209));
    box-shadow: rgba(136, 144, 195, 0.2) 0px 0.2rem 0.4rem 0px, rgba(37, 44, 97, 0.15) 0px 5px 1.5rem 0px;
    margin: 0px 1rem;
    border-radius: 0.7rem;
    text-align: center;
    transition: transform 0.2s ease 0s;
    height: 34rem !important;
}

#why_cydog_browser .card:hover {
    color: rgb(255, 255, 255);
    z-index: 9;
    background-color: rgb(151, 185, 222);
    background-image: linear-gradient(145deg, rgb(27, 33, 55), rgb(53, 64, 105));
    transform: scale(0.99);
}

#why_cydog_browser .template-demo {
    padding: 2rem 0px;
}

#why_cydog_browser .card .template-demo .cydog_security_info_img {
    width: 8rem;
    margin-bottom: 1rem;
    opacity: 0.7;
}

#why_cydog_browser .card .template-demo .cydog_security_title {
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
    font-family: Poppins, sans-serif;
}

#why_cydog_browser .card .template-demo .cydog_security_short_info {
    color: rgba(233, 236, 245, 0.78);
    font-size: 1.3rem;
    margin-top: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

#why_cydog_browser .slider_waves {
    position: absolute;
}

@media screen and (max-width: 576px) {
    #why_cydog_browser {
        padding-bottom: 1rem;
    }
    #why_cydog_browser .card {
        height: 23.1rem !important;
    }
    #why_cydog_browser .card .template-demo .cydog_security_title {
        font-size: 1.9rem;
    }
    #why_cydog_browser .card .template-demo .cydog_security_short_info {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    #why_cydog_browser .card .template-demo .cydog_security_info_img {
        width: 4rem;
    }
}

@media only screen and (max-width: 325px) {
    #why_cydog_browser .card .template-demo .cydog_security_short_info {
        font-size: 0.9rem !important;
    }
}

#cydog_presentation {
    padding: 8rem 0px 4rem;
    background: rgb(38, 99, 209);
    position: relative;
}

#cydog_presentation .presentation_top_waves {
    top: 0px;
}

#cydog_presentation h2 {
    color: rgb(241, 236, 236);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0rem;
    font-size: 3.6rem;
    padding-top: 2rem;
}

#cydog_presentation h2::after {
    content: "";
    display: block;
    width: 20rem;
    height: 0.2rem;
    background: rgb(8, 8, 8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#cydog_presentation .mini_short_info {
    padding-top: 12rem;
}

#cydog_presentation .mini_short_info h3 {
    font-size: 3.4rem;
    font-weight: 400 !important;
}

#cydog_presentation .mini_short_info p {
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 55%;
}

#cydog_presentation iframe {
    margin-top: 3rem;
    border-radius: 0.6rem;
    width: 80% !important;
}

@media screen and (max-width: 768px) {
    #cydog_presentation iframe {
        height: 35rem;
    }
}

@media screen and (max-width: 576px) {
    #cydog_presentation iframe {
        margin-bottom: 1rem;
    }
}

#cydog_security {
    background-color: rgb(38, 99, 209);
    text-align: center;
}

#cydog_security .cydog_browser_big_img .head_cydog_img {
    margin-bottom: 1rem;
}

#cydog_security .security_small_info img {
    width: 80rem;
    max-width: 100%;
}

#cydog_comparison_chart {
    padding: 12rem 0px 6rem;
    font-family: Poppins, sans-serif;
    position: relative;
}

#cydog_comparison_chart .waves {
    top: 0px;
}

#cydog_comparison_chart h3 {
    font-size: 3.5rem;
    text-align: center;
}

#cydog_comparison_chart .cydog_proection_info ul {
    margin-top: 3rem;
}

#cydog_comparison_chart .cydog_proection_info ul li {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.4rem;
}

#cydog_comparison_chart .cydog_proection_info ul li img {
    background-color: rgb(38, 99, 209);
    border-radius: 5rem;
    width: 2.3rem;
}

#cydog_comparison_chart .comparison_chart {
    margin-top: 4rem;
    padding: 5rem;
    background: rgb(10, 22, 42);
    border-radius: 2rem;
}

#cydog_comparison_chart .comparison_chart .shadow {
    background: rgb(0, 0, 0);
    border-radius: 1rem;
}

#cydog_comparison_chart .comparison_chart h4 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

#cydog_comparison_chart .comparison_chart img {
    width: 5.4rem;
    height: 5rem;
}

#cydog_comparison_chart .comparison_chart .built_feature {
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 3.3rem;
}

#cydog_comparison_chart .comparison_chart .add_blocker {
    width: 3.5rem;
}

@media screen and (max-width: 768px) {
    #cydog_comparison_chart .comparison_chart h4,
    #cydog_comparison_chart .comparison_chart .built_feature {
        font-size: 1.4rem;
        text-align: center !important;
    }
}

@media screen and (max-width: 576px) {
    #cydog_comparison_chart .comparison_chart {
        margin-top: 0px;
    }
    #cydog_comparison_chart .cydog_proection_info {
        display: flex;
        justify-content: center;
    }
    #cydog_comparison_chart .cydog_proection_info ul {
        display: flex;
        flex-direction: column;
    }
    #cydog_comparison_chart .cydog_proection_info ul li {
        display: inherit;
        margin-bottom: 1.2rem;
    }
    #cydog_comparison_chart h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 410px) {
    #cydog_comparison_chart .comparison_chart {
        padding: 1rem;
    }
    #cydog_comparison_chart .comparison_chart img {
        width: 3.4rem;
        height: 3rem;
    }
    #cydog_comparison_chart .comparison_chart h5 {
        margin-top: 0.8rem;
    }
    #cydog_comparison_chart .comparison_chart h5 {
        font-size: 1rem;
    }
}

#scydog_advanced_security {
    padding: 5rem 0px 4rem;
    text-align: center;
    font-family: Poppins, sans-serif;
}

#scydog_advanced_security p {
    font-size: 1.6rem;
    width: 60%;
    margin: 2rem auto;
}

#scydog_advanced_security img {
    width: 24rem;
}

#scydog_advanced_security .advancded_short_info {
    margin-top: 3.5rem;
}

#scydog_advanced_security .advancded_short_info h3 {
    font-size: 1.6rem;
}

#scydog_advanced_security .advancded_short_info p {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 200;
}

@media screen and (max-width: 576px) {
    #scydog_advanced_security p {
        font-size: 1.3rem;
        width: 100%;
    }
    #scydog_advanced_security img {
        width: 20rem;
    }
}

@media screen and (max-width: 300px) {
    #scydog_advanced_security img {
        width: 10rem;
    }
}

#cydog_brower_download {
    padding: 2rem 0px 4rem;
}

#cydog_brower_download h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 3.6rem;
}

#cydog_brower_download .buttons-container .down_btn {
    background: rgb(10, 67, 173) !important;
}

#cydog_brower_download .buttons-container .down_btn:hover {
    animation: 20s linear 0s infinite normal none running gradient;
    background: linear-gradient(to right, cornflowerblue, aqua, deeppink, cornflowerblue) 0% 0% / 600% 600% !important;
}

@media screen and (max-width: 576px) {
    #cydog_brower_download h1 {
        font-size: 2rem;
    }
}

#cydog_exploration_banner {
    padding: 8rem 0px 11rem;
    background: rgb(38, 99, 209);
}

#cydog_exploration_banner img {
    width: 65rem;
    max-width: 100%;
}

#about_cydog {
    padding: 7rem 0px 3rem;
    font-family: Poppins, sans-serif;
    background: rgb(2, 2, 2);
}

#about_cydog h2 {
    font-family: changa;
}

#about_cydog .left_cydog {
    padding-top: 6rem;
}

#about_cydog .left_cydog img {
    width: 38rem;
    max-width: 100%;
}

#about_cydog .right_cydog {
    padding-top: 7rem;
}

#about_cydog .right_cydog img {
    width: 34rem;
    max-width: 100%;
}

#about_cydog .about_us_short_info {
    padding-top: 11rem;
}

#about_cydog .about_us_short_info h3 {
    font-size: 2.7rem;
}

#about_cydog .about_us_short_info p {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    #about_cydog .left_cydog {
        padding-top: 0px;
    }
    #about_cydog .about_us_short_info {
        padding-top: 0px;
        margin-top: -2rem;
    }
    #about_cydog .right_cydog {
        padding-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    #about_cydog .about_us_short_info h3 {
        font-size: 1.6rem;
    }
    #about_cydog .about_us_short_info p {
        font-size: 1.3rem;
    }
}

.about_us {
    background: rgb(38, 99, 209);
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 6rem;
}

.about_us .graphics {
    width: 15%;
    text-align: center;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.about_us .modal_of {
    margin-top: 4rem;
    padding-top: 4rem;
    padding-left: 13%;
    background: rgb(0, 0, 0);
    box-shadow: rgba(9, 12, 18, 0.91) -1px 13px 19px -2px;
    border-radius: 2rem;
}

.about_us .modal_img {
    width: 3.7rem;
    height: 4.3rem;
    cursor: pointer;
}

.about_us .modal_of .learn-more {
    font-size: 2.1rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255) !important;
}

.about_us .marqueee marquee {
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0px;
    line-height: 0;
    color: rgb(245, 245, 245) !important;
}

.title h3 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    color: rgb(60, 72, 88);
}

.modal p {
    color: rgb(255, 255, 255) !important;
}

.modal-dialog .modal-content {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px, rgba(0, 0, 0, 0.22) 0px 40px 77px 0px;
    border-radius: 6px;
    border: none;
    background: rgb(38, 99, 209) !important;
}

.modal-dialog .modal-content p {
    font-weight: 300;
    font-size: 1.2rem;
    font-family: Poppins;
    color: rgb(241, 233, 233) !important;
}

.modal-dialog .modal-header {
    border-bottom: none;
    padding: 2.3rem 2.4rem;
}

.modal-dialog .modal-header .modal-title {
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(60, 72, 88);
    margin-bottom: 0px;
    margin-top: 1rem;
    line-height: 1.5;
}

.modal-dialog .modal-body {
    padding: 2.4rem 2.4rem 1.6rem;
    color: rgb(60, 72, 88);
}

.modal .modal-header .close i {
    font-size: 1.6rem;
    color: rgb(153, 153, 153);
}

.modal-dialog .modal-footer {
    border-top: none;
    padding: 2.4rem !important;
}

.modal-dialog .modal-body+.modal-footer {
    padding-top: 0px !important;
}

.modal-dialog .modal-footer button {
    width: auto;
    margin: 0px !important;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
}

.modal-dialog .modal-content .card-signup .modal-header {
    padding-top: 0px;
}

.card .card-title {
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-top: 1rem;
    font-size: 1.8rem !important;
    font-weight: 700 !important;
}

.card .card-header {
    padding: 1rem 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: -3rem;
    border: 0px;
    border-radius: 3px !important;
}

.card .card-header-primary {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px, rgba(156, 39, 176, 0.6) 0px 13px 24px -11px;
    background: linear-gradient(60deg, rgb(171, 71, 188), rgb(123, 31, 162));
}

.card-plain .card-body {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.card .card-body {
    padding: 1.5rem;
}

.card form {
    margin: 0px;
}

.modal-dialog .modal-body {
    padding: 1.3rem 2.4rem 1.6rem;
}

.modal-dialog .modal-footer button {
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: auto;
    border: none;
    text-decoration: none;
}

.modal-dialog .modal-footer button a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

@media screen and (max-width: 768px) {
    .about_us .modal_of .flex-row {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column !important;
        text-align: center !important;
    }
    .about_us p {
        text-align: center !important;
    }
    .about_us .modal_of {
        padding-left: 0px !important;
    }
}

#downLoad_press {
    padding: 4rem;
    font-family: Poppins, sans-serif;
    background: rgb(38, 99, 209);
}

#downLoad_press h3 {
    font-size: 2.6rem;
}

#downLoad_press p {
    font-size: 1.3rem;
    margin-top: 2rem;
}

#downLoad_press .text-black {
    text-decoration: underline;
    color: rgb(0, 0, 0) !important;
}

#downLoad_press .buttons-container .banner_btn_download .fa-download {
    right: 6rem;
}

#search_engine {
    background: linear-gradient(rgba(30, 47, 231, 0.557), rgba(35, 99, 217, 0.635)) 0% 0% / cover, url("http://i.hizliresim.com/v4Qykv.png") center center no-repeat fixed;
    height: 70rem;
    max-height: 100%;
    text-align: center;
    position: fixed !important;
    font-family: changa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18rem 0 13rem 0;
    width: 100%;
    height: 100%;
}

#search_engine .logo_bg_search {
    position: absolute;
    width: 40rem;
    opacity: 0.3;
    top: 2%;
    right: 1%;
}

#search_engine .cydogbrowser_intensifies_img {
    margin-bottom: 2rem;
    width: 17rem;
    max-width: 100%;
}

#search_engine .searchInt {
    background: 0px 0px;
    border-width: 1px 0px;
    border-right-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-radius: 10px 0px 0px 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    box-shadow: rgb(31, 31, 31) 0px 5px 2px;
    transition: width 1s ease 0s;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    width: 43% !important;
    flex: 0 0 auto !important;
}

#search_engine .searchInt::placeholder {
    color: rgb(255, 255, 255);
}

#search_engine .searchBtn {
    box-shadow: rgb(31, 31, 31) 0px 5px 2px;
    z-index: 2;
    border-width: 1px 0px;
    border-right-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
}

#search_engine .fa-search {
    transform: rotateY(180deg);
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}

#search_engine .loadSpan1 {
    font-size: 2rem;
    font-family: changa, sans-serif;
    color: rgb(14, 13, 14);
}

#search_engine .loadSpan2 {
    font-size: 2rem;
    font-family: changa, sans-serif;
    color: rgb(14, 13, 14);
}

#search_engine .loadSpan3 {
    font-size: 2rem;
    font-family: changa, sans-serif;
    color: rgb(20, 21, 22);
}

#search_engine .searchInt:focus {
    color: rgb(255, 255, 255);
    background: 0px 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(31, 31, 31) 0px 5px 2px;
    width: 80% !important;
}

#search_engine .loadImg {
    width: 3rem;
}

#search_engine .loading {
    display: none;
}

.modal_common .modal-dialog {
    margin: 0 !important;
}

#search_engine .default_search .new_img {
    width: 4rem;
}

#search_engine .default_search a {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    display: inline-block;
    margin-top: 1rem;
    font-family: changa;
    font-weight: 500;
    cursor: pointer;
}

#search_engine .bg-dark {
    /* background: url(../img/logo.png); */
    /* background-position: center;
    background-size: auto;
    background-repeat: no-repeat; */
}

#search_engine .test_section {
    margin-top: 9rem;
}

#search_engine .test_section .question_img {
    width: 100%;
    max-width: 6rem;
    cursor: pointer;
}

#search_engine .inter_net_working .inter-working_info {
    font-size: 1.5rem;
}

#search_engine .test_section .tested_img {
    width: 100%;
    max-width: 9rem;
    cursor: pointer;
}

.modal_common .modal-header h1 {
    font-size: 1.9rem;
    margin-top: .8rem;
}

.modal_common .search_info_default h3 {
    font-size: 1.4rem;
}

.modal_common .add_Cookies b {
    font-size: 1.6rem;
}

.modal_common .add_Cookies input {
    font-size: 1.6rem;
    color: rgb(95, 90, 90);
    font-weight: 600;
    margin: .4rem 0;
    padding: .5rem 2rem;
    width: 100%;
}

.modal_common .modal-header .close_icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 1.1rem;
}

@media screen and (max-width: 768px) {
    #search_engine .searchInt {
        width: 50% !important;
    }
}

@media screen and (max-width: 576px) {
    #search_engine .searchInt {
        font-size: 1.2rem;
    }
    #search_engine .fa-search {
        transform: rotateY( 181deg) translate(1px, 3px);
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
    }
    .text-typing p {
        font-size: 1rem;
    }
    #search_engine .default_search a {
        font-size: 1.2rem;
    }
    #search_engine .test_section {
        margin-top: 6rem;
    }
    #search_engine .test_section .col-sm-4 {
        margin-bottom: 2rem !important;
    }
    #search_engine .test_section .question_img {
        max-width: 5rem;
    }
    #search_engine .inter_net_working .inter-working_info {
        font-size: 1.1rem;
    }
    #search_engine .test_section .tested_img {
        max-width: 6rem;
    }
    .modal_common .modal-dialog .modal-header {
        padding: 1rem 2rem;
    }
    .modal_common .search_info_default h3 {
        font-size: 1rem;
    }
    .modal_common .modal-header h1 {
        font-size: 1.3rem;
        margin-top: .8rem;
    }
    .modal_common .modal-header .close_icon {
        width: 1rem;
        height: 1rem;
        margin-top: .8rem;
    }
}

@media screen and (max-width: 320px) {
    #search_engine .searchInt {
        font-size: 0.8rem;
    }
    #search_engine .searchBtn {
        height: 2.2rem;
    }
    #search_engine .fa-search {
        font-size: 0.7rem;
    }
    #search_engine .test_section {
        margin-top: 0;
    }
    #search_engine .test_section {
        margin-top: -4.3rem;
        padding: 7rem 0;
    }
    #search_engine .searchBtn {
        height: 2.2rem;
    }
    #search_engine .fa-search {
        transform: rotateY( 181deg) translate(1px, -1px);
    }
    #search_engine .cydogbrowser_intensifies_img {
        width: 6rem;
    }
    .text-typing p {
        font-size: 1rem !important;
    }
    #search_engine .default_search .new_img {
        width: 2rem;
    }
    #search_engine .default_search a {
        font-size: .7rem;
        line-height: 1;
    }
    .default_search {
        margin-top: -2rem;
    }
    #search_engine .test_section .question_img {
        width: 2rem;
    }
    #search_engine .inter_net_working .inter-working_info {
        font-size: .8rem;
    }
    #search_engine .test_section .tested_img {
        width: 3rem;
    }
}

#cydog_test {
    padding: 23rem 0px 10rem;
    background-color: rgb(38, 99, 209);
}

#cydog_test table {
    background: rgb(0, 0, 0);
    border-radius: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}

#cydog_test table tr {
    border-top: 1px solid rgb(29, 30, 30);
}

#cydog_test table tr td {
    font-size: 1.3rem;
    padding: 1rem 4rem;
}

#cydog_test table tr td img {
    width: 10rem !important;
}

#cydog_test table tr td a {
    color: rgb(255, 255, 255);
}

#cydog_test table tr:first-child {
    border-top: none !important;
}

#cydog_test table tr td input {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 0.7rem 0px;
    font-size: 1.3rem;
    border: 0.2rem solid rgb(38, 99, 209);
    border-radius: 1.2rem;
}

@media screen and (max-width: 576px) {
    #cydog_test table {
        width: 74%;
    }
    #cydog_test table h1 {
        font-size: 1.5rem;
    }
    #cydog_test table tr td img {
        width: 6rem !important;
    }
    #cydog_test table tr td {
        font-size: 0.9rem;
        padding: 1rem;
    }
    #cydog_test table tr td input {
        font-size: 0.9rem;
        padding: 0.3rem 0.8rem;
        border-radius: 0.4rem;
    }
}

#our_platforms {
    padding: 11rem 0px 2rem;
    text-align: center;
    background: rgb(38, 99, 209);
}

#our_platforms img {
    width: 51rem;
}

#our_platforms .platforms_text {
    padding-top: 14rem;
    padding-left: 5rem;
}

#our_platforms .platforms_text h1 {
    font-size: 4.5rem;
}

#our_platforms .platforms_text p {
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    #our_platforms .platforms_text {
        padding-top: 4rem;
        padding-left: 0px;
    }
}

#cydog_popUp_platform_info {
    margin-top: -10rem;
}

#cydog_popUp_platform_info .font-weight-bold {
    font-size: 1.7rem;
    text-decoration: underline;
    font-weight: 400 !important;
}

#cydog_popUp_platform_info .about_us {
    padding-top: 0px;
    padding-bottom: 0px;
}

#cydog_privacy_section {
    padding: 10rem 0px;
    background: rgb(38, 99, 209);
}

#cydog_privacy_section .container .wrap_privacy {
    width: 70%;
    max-width: 100%;
    margin: 5rem auto 1rem;
}

#cydog_privacy_section .container .wrap_privacy .header_privacy_ {
    margin: 2rem 0px 7rem;
}

#cydog_privacy_section .header_privacy_ h1 {
    font-size: 5.4rem;
}

#cydog_privacy_section .header_privacy_ p {
    font-size: 1.7rem;
}

#cydog_privacy_section .container .wrap_privacy .body_privacy_info h4 {
    font-size: 3.4rem;
    font-weight: normal;
    color: rgb(173, 173, 173);
}

#cydog_privacy_section .container .wrap_privacy .body_privacy_info h6 {
    font-size: 1.9rem;
    margin-bottom: 1.4rem;
}

#cydog_privacy_section .container .wrap_privacy .body_privacy_info h3 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2.5rem;
}

#cydog_privacy_section .container .wrap_privacy .body_privacy_info p {
    font-size: 1.5rem;
}

#cydog_privacy_section .container .wrap_privacy .body_privacy_info a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.cydog_conditons_sections ul li {
    padding-left: 2rem;
    font-size: 1.8rem !important;
    list-style: initial !important;
}

footer {
    padding: 5rem 0px 3rem;
    background: rgb(38, 99, 209);
}

footer ul li {
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}

footer .social_media ul li a i {
    font-size: 2rem;
}

footer .cydog_repository_info ul img {
    width: 3rem;
}

footer .footer_menu {
    text-align: center;
}

footer .footer_menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

footer .copyright_text {
    font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
    .buttons-container .banner_btn_download a {
        font-size: 1.4rem;
    }
    .buttons-container .banner_btn_download .fa-download {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .buttons-container .banner_btn_download {
        width: 30rem;
        margin-right: 0px;
    }
    .banner_btn_download .fa-download {
        right: 4rem;
    }
    .header_privacy_ h1 {
        font-size: 3.2rem !important;
    }
    .header_privacy_ p {
        font-size: 1.3rem !important;
    }
    .wrap_privacy .body_privacy_info h4 {
        font-size: 2.4rem !important;
    }
    .wrap_privacy .body_privacy_info h6 {
        font-size: 1.4rem;
    }
    .wrap_privacy .body_privacy_info p {
        font-size: 1.2rem !important;
    }
    .cydog_conditons_sections ul li {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 320px) {
    .buttons-container .banner_btn_download {
        font-size: 1.2rem;
    }
    .buttons-container .banner_btn_download .fa-download {
        font-size: 0.8rem;
        position: static;
    }
}